@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@700');
body {
    font-family: Arial, sans-serif;
    background-color: #212121;
    color: #f5f5f5;
    text-align: center;
    padding: 5px;
}
.main, .footer, .location {
    border: 2px solid #555;
    padding: 15px;
    margin-top: 20px;
    background-color: #313131;
}
.banner {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    font-family: Kode Mono, sans-serif;
    background-image: url('https://resource.xhesas.com/banner.svg');
    background-size: cover;
    background-position: center;
    height: 200px;
    color: white;
    border: 2px solid #555;
    border-radius: 25px;
    box-shadow: 0 0 10px #888;
}
.banner h1 {
    font-size: 116px;
}

.projects {
    padding: 10px;
    overflow: auto;
    display: flex;
    flex: nowrap;
}
.card {
    height: 420px;
    min-width: 40%;
    margin: 5px;
    padding: 5px;
    border: 1px solid #555;
    border-radius: 8px;
}
.card a {
    color: #f5f5f5;
    text-decoration: none;
}
.card a:hover {
    color: #f5ed16;
}
.card .content {
    margin: 5px;
    height: calc(100% - 59px);
}
.card iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.footer {
    color: #ddd;
    padding: 30px 20px;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}
.footer-logo {
    flex: 1;
    text-align: center;
}
.footer-logo img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}
.footer-logo p {
    font-size: 14px;
    color: #bbb;
}
.footer-links,
.footer-info {
    flex: 1;
}
.footer-links h4,
.footer-info h4 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    margin-bottom: 5px;
}

ul li a {
    color: #bbb;
    text-decoration: none;
    font-size: 14px;
}
ul li a:hover {
    color: #fff;
}
.footer-info p {
    font-size: 14px;
    color: #bbb;
    margin: 5px 0;
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #666;
    border-top: 1px solid #444;
    padding-top: 10px;
}
.social-media {
    margin-top: 10px;
}
.social-media a {
    margin-right: 10px;
    display: inline-block;
}
.social-media img {
    width: 24px;
    height: 24px;
}
.social-media .long img {
    width: 34px;
    height: 24px;
}
