<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Xhesas - About</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header class="banner"><h1>Xhesas</h1></header>

    <section class="main">
      <h2>About xhesas.com</h2>
      <p>
        xhesas.com is my personal website where I host projects of mine I enjoy. Most of those projects are related to my conworld of Enkavak/Laevanaak. Xhesas /ǃɛ.sɐs/ (also as /xɛ.sas/) is my internet pseudonym.
      </p>
    </section>

    <footer id="footer" class="footer">{% include 'footer.html' %}</footer>
  </body>
</html>
