<div class="footer-content">
    <!-- Quick Links -->
    <div class="footer-links">
        <h4>Quick Links</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About xhesas.com</a></li>
        </ul>
    </div>

    <!-- Logo and Fun Facts -->
    <div class="footer-logo">
        <img src="https://resource.xhesas.com/pfp.jpeg" alt="Profile Picture">
        <p>Namnak Xhesas</p>
    </div>

    <!-- Additional Information -->
    <div class="footer-info">
        <h4>Contacts and Links</h4>
        <p>Email: namnak.xhesas@gmail.com</p>
        <p>Discord: @xhesas</p>

        <!-- Social Media Icons -->
        <div class="social-media">
            <a class="long" href="https://www.youtube.com/@NamnakXhesas"><img src="https://resource.xhesas.com/youtube.png" alt="Youtube"></a>
            <a href="https://github.com/Xhesas"><img src="https://resource.xhesas.com/github.png" alt="Github"></a>
        </div>
    </div>
</div>

<!-- Copyright -->
<div class="footer-bottom">
    <p>&copy; Xhesas</p>
</div>
