<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Xhesas</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header class="banner"><h1>Xhesas</h1></header>

    <section class="main">
      <h2>Recent Projects</h2>
      <div class="projects">
        <div class="card">
          <h3><a href="https://armor-shop.xhesas.com/">Armor Shop</a></h3>
          <div class="content"><iframe src="https://armor-shop.xhesas.com/" title="Armor Shop" name="iframe_shop"></iframe></div>
        </div>
        <div class="card">
          <h3><a href="https://enkavak.xhesas.com/">Enkavaks Website</a></h3>
          <div class="content"><iframe src="https://enkavak.xhesas.com/" title="Enkavaks Website" name="iframe_shop"></iframe></div>
        </div>
        <div class="card">
          <h3><a href="https://youtu.be/_Yls3ckod9Q?si=pCicqbehuQYF2so1">Oh Änkawa</a></h3>
          <div class="content"><iframe src="https://www.youtube.com/embed/_Yls3ckod9Q?si=qoc-Ex6vxWe2-IYC" title="Oh Änkawa" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
        </div>
      </div>
    </section>

    <section class="main">
      <h3>Also Check out Agamashuya and the Ŋuhcraft stuff</h3>
      <ul>
      <li>
        <a href="https://www.nguh.org/">Aghma Schwa</a>
      </li>
      <li>
        <a href="https://mc.nguh.org/wiki/">Ŋuhcraft Wiki</a>
      </li>
      <li>
        <a href="https://nguhrovision.nguh.org/">Ŋuhrovision</a>
      </li>
      </ul>
    </section>

    <footer id="footer" class="footer">{% include 'footer.html' %}</footer>
  </body>
</html>
